
#title{
  background-color: #ff4c68;
  text-align: left;

}
body{
  margin: 0;
  font-family: "Montserrat";
  text-align: center;
}
.container-fluid{
  padding: 3% 15%;
}
/* Heading-Section */
h1,h2,h3,h4{
    font-family: "Montserrat";

}
.big-heading{
  font-size:4rem;
  font-weight: bold;
  line-height: 1.5;
}
.sub-heading{
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

p{
  color: #8f8f8f;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
}
/* Title image */
.rotate-img{
  width: 300px;
  transform: rotate(25deg);

}
.navbar{
  padding-bottom: 4.5rem;
}
.nav-item{
  font-size: 1.2rem;
  padding: 0 10px;
  font-family: "Montserrat-light"
}
/* Download buttons */
.download-buttons{
  margin: 5% 3% 5% 0;
}
/* feature center class and margines */
.features-center{
  margin: 15% auto;
  display: flex;
  flex-direction: column;

  justify-content: center;

}
/* features icons */
.feature-icon{
  font-size:4rem;
  color:#ef8172;
  margin-bottom: 15px;
}
.feature-icon:hover{
  color: #ff4c68;
}
.features-head{
  color: black;
  font-weight: bold;
  font-size: 120%;
}
/* Testimonials section */
#testimonials{


  background-color: #ef8172;
  color: #fff;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
/* press section */
#press{
  background-color: #ef8172;

  padding-bottom: 3%;
}
.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
      padding: 7% 15%;

}
/* pricing-section */
#pricing{
  padding: 100px;

}
.pricing-col{
  padding: 3% 2%;
}
@media only screen and (max-width: 1200px){
  #title{
    text-align: center;
  }
  .rotate-img{
  transform: rotate(0deg);

  }
}
/* Cta section */
#cta{
  background-color: #ff4c68;

  padding: 7% 15%;
}
.cta-text{
  color: white;
  font-size:2.5rem;
  font-weight: bold;
  line-height: 1.5;
}

/* Footer section */
#footer{
  background-color: #fff;
  padding: 7% 15%;
}
.footer-icons{
  margin: 5px;
}
.footer-paragragh{
  margin-top:10px;
}
/* media-section */
@media only screen and (min-width:1200px){
  #features{
    background:white;
    position: relative;
    z-index: 100;
  }
  .rotate-img{
    position: absolute;
    z-index: 1;
  }
}
